 @import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans+TC:wght@300;400;500&display=swap');

 * {
   box-sizing: border-box;
 }

 body,
 html {
   font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
   font-size: 16px;
   color: #202020;
   font-weight: 400;
   position: relative;
   margin: 0;
   padding: 0;
 }

 a {
   transition: all ease-in-out .3s;
   color: #202020;
   text-decoration: none !important;
 }

 a:hover {
   text-decoration: none;
   color: #202020;
 }

 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 400;
 }

 .wrapper {
   min-height: 100vh;
   position: relative;
   overflow: hidden;
   display: flex;
   width: 100%;
 }

 .wrapper.page {
   flex-direction: column;
 }

 ul,
 li {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 :focus {
   outline: none;
 }

 .btn.focus,
 .btn:focus,
 button:focus {
   outline: none;
   box-shadow: none;
 }

 .btn-basic {
   font-size: 1.5rem;
   padding: 24px 30px;
   border-radius: 15px;
   color: #ffff;
   line-height: 1;
   min-width: 180px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
 }

 .btn-basic:hover,
 .btn-basic:focus {
   color: #fff;
   box-shadow: none;
   transform: translateY(5px);
 }

 .text-gray {
   color: #999;
 }

 /*home*/
 .homeSchool {
   width: 50%;
   text-align: center;
   font-family: 'Acme';
   position: relative;
   transition: all ease-in-out 1.2s;
   z-index: 0;
 }

 .homeSchool.homeNtut {
   background-color: #FFF9F0;
 }

 .homeSchool.homeNtue {
   background-color: #E9F7EE;
 }

 .homeSchool::before {
   content: "";
   width: 172px;
   height: 172px;
   border-radius: 50%;
   position: absolute;
   top: 0;
   transform: translateY(-50%);
   transition: all ease-in-out .8s;
   z-index: -1;
 }

 .homeSchool.homeNtut::before {
   background-color: #F4E4D1;
   left: 0;
   transform-origin: left top;
 }

 .homeSchool.homeNtue::before {
   background-color: #DCEBE1;
   right: 0;
   transform-origin: right top;
 }

 .homeElf {
   width: 400px;
   height: 400px;
   border-radius: 50%;
   position: absolute;
   bottom: 0;
   transition: all ease-in-out 1.3s;
   z-index: -1;
 }

 .homeSchool.homeNtut .homeElf {
   left: 0;
   transform: translateX(-55%) translateY(55%);
   background-color: #F4E4D1;
 }

 .homeSchool.homeNtue .homeElf {
   right: 0;
   transform: translateX(55%) translateY(55%);
   background-color: #DCEBE1;
 }

 .homeSchool.homeNtut:hover .homeElf {
   transform: translateX(-30%) translateY(30%);
 }

 .homeSchool.homeNtue:hover .homeElf {
   transform: translateX(30%) translateY(30%);
 }



 .homeElf .eye {
   width: 20px;
   height: 26px;
   border-radius: 50% / 50%;
   position: absolute;
   top: 15%;
   background-color: #fff;
 }

 .homeSchool.homeNtut .homeElf .eye {
   right: 22%;
 }

 .homeSchool.homeNtut .homeElf .eye:nth-child(2) {
   right: 30%;
 }

 .homeSchool.homeNtue .homeElf .eye {
   left: 22%;
 }

 .homeSchool.homeNtue .homeElf .eye:nth-child(2) {
   left: 30%;
 }

 .homeElf .eye::before {
   content: "";
   width: 10px;
   height: 13px;
   border-radius: 50% / 50%;
   position: absolute;
   top: 2px;
   right: 0;
   background-color: #8C8C8C;
 }

 .homeSchool.homeNtue .homeElf .eye::before {
   content: "";
   right: auto;
   left: 0;
 }

 .homeSchool .homeBox {
   width: 100%;
   max-width: 630px;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px 32px 60px;
   margin: 0 auto;
   transition: all ease-in-out .3s;
 }

 .homeSchool {
   flex: 0 0 50%;
 }

 .home:hover .homeSchool {
   flex: 0 0 40%;
 }

 .home:hover .homeSchool:hover {
   flex: 0 0 60%;
 }

 .homeSchool:hover::before {
   width: 220px;
   height: 220px;
 }

 .homeSchool.homeNtut:hover::before {
   transform: translateY(-20%) translateX(-20%);
 }

 .homeSchool.homeNtue:hover::before {
   transform: translateY(-20%) translateX(20%);
 }

 .homeTitle {
   border-bottom: 1px solid #8C8C8C;
   width: 100%;
 }

 .homeTitle h1 {
   font-family: 'Acme';
   font-size: 6rem;
   color: #787878;
   margin: 0;
   position: relative;
   display: inline-block;
 }

 .homeTitle h1::before {
   content: "";
   width: 30px;
   height: 30px;
   position: absolute;
   left: -80px;
   top: 50%;
   transform: translateY(-50%);
 }

 .homeTitle h1::after {
   content: "";
   width: 30px;
   height: 30px;
   position: absolute;
   right: -80px;
   top: 50%;
   transform: translateY(-50%);
 }

 .homeSchool.homeNtut .homeTitle h1::before,
 .homeSchool.homeNtut .homeTitle h1::after {
   border-radius: 50%;
   background-color: #F2BF8C;
 }

 .homeSchool.homeNtue .homeTitle h1::before,
 .homeSchool.homeNtue .homeTitle h1::after {
   border-radius: 5px;
   background-color: #ACD2BF;
   transform: rotate(45deg);
   transform-origin: right;
 }

 .homeSchool .solgan {
   color: #787878;
   font-size: 2.5rem;
   letter-spacing: 2px;
   padding: 80px 0;
   width: 80%;
   line-height: 1.5;
 }

 .homeSchool.homeNtut .btn-basic {
   background-color: #F2BF8C;
 }

 .homeSchool.homeNtue .btn-basic {
   background-color: #ACD2BF;
 }

 /*content*/
 .show-md {
   display: block;
 }

 .hide-md {
   display: none;
 }

 .pageTitle {
   margin: 24px 0;
   text-align: center;
   position: relative;
 }

 .pageTitle h2 {
   color: #787878;
   font-size: 1.875rem;
   font-weight: 500;
   padding: 0 8px;
   display: inline-block;
   margin: 0;
 }

 .pageTitle::before {
   content: "";
   width: calc(50% - 55px);
   height: 1px;
   background-color: #DCEBE1;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
 }

 .pageTitle::after {
   content: "";
   width: calc(50% - 55px);
   height: 1px;
   background-color: #DCEBE1;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
 }


 /*works*/
 .worksListBox ul.worksList {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -24px;
 }

 .worksList li.workItem {
   width: 33.3%;
   padding: 0 24px;
   margin: 24px 0;
 }

 .worksList li.workItem .workItemInner {
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   background-color: #fff;
 }

 .worksList li.workItem .workItemInner>a {
   display: block;
 }

 .worksList li.workItem .imgBox {
   overflow: hidden;
   height: 250px;
   transition: all ease-in-out .5s;
   position: relative;
 }

 .worksList li.workItem .imgBox::before {
   content: "";
   width: calc(100% - 10px);
   height: calc(100% - 10px);
   border-radius: 20px;
   background: rgba(26, 26, 26, .06);
   position: absolute;
   left: 5px;
   top: 5px;
   opacity: 0;
   transition: all ease-in-out .5s;
 }

 .worksList li.workItem .workItemInner>a:hover .imgBox {
   padding: 5px;
 }

 .worksList li.workItem .workItemInner>a:hover .imgBox::before {
   opacity: 1;
 }

 .worksList li.workItem .imgBox img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all ease-in-out .5s;
 }

 .worksList li.workItem .workItemInner>a:hover .imgBox img {
   border-radius: 20px;
 }

 .worksList li.workItem .textBox {
   padding: 0 20px;
 }

 .workTitle {
   padding: 8px 0;
 }

 .workTitle h4 {
   font-size: 1rem;
   line-height: 1.5;
   font-weight: 500;
   margin: 0;
 }

 .workTitle .workAuthors {
   font-size: .875rem;
   margin: 0 -7px;
   line-height: 1.5;
 }

 .workTitle .workAuthors span {
   padding: 0 7px;
   position: relative;
 }

 .workTitle .workAuthors span:after {
   content: "・";
   position: absolute;
   right: -8px;
 }

 .workTitle .workAuthors span:last-child:after {
   display: none;
 }

 .workItem .skillTags {
   margin: 0 -6px;
   padding: 12px 0;
   height: 80px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
 }

 .workItem .skillTags li {
   padding: 0 6px;
   margin-bottom: 5px;
 }

 .workItem .skillTags li span {
   font-size: .75rem;
   border: 1px solid #8C8C8C;
   padding: 0 8px;
   border-radius: 8px;
   display: inline-block;
   color: #333;
 }

 .workItem .bottomContent {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
 }

 .workItem .bottomContent .workLink {
   display: flex;
   margin: 0 -6px;
 }

 .workItem .bottomContent .workLink a {
   padding: 0 6px;
 }

 .workItem .bottomContent .workLink a img {
   width: 24px;
 }

 .workItem .bottomContent .remark {
   font-size: .75rem;
 }

 .bannerImg {
   margin: 56px 0 24px;
 }

 .bannerImg img {
   width: 100%;
 }

 /*ntut*/
 .page-ntut {
   background: linear-gradient(to bottom, rgba(255, 250, 240, 1) 0%, rgba(245, 244, 239, 1) 30%, rgba(255, 255, 255, 1) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 }


 /*ntue*/
 .page-ntue {
   background: linear-gradient(to bottom, rgba(240, 255, 245, 1) 0%, rgba(239, 245, 240, 1) 30%, rgba(255, 255, 255, 1) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 }






 /*RWD*/
 @media (min-width: 576px) {
   .container.page-container {
     max-width: 100%;
   }
 }

 @media (min-width: 768px) {
   .container.page-container {
     max-width: 720px;
   }
 }

 @media (min-width: 992px) {
   .container.page-container {
     max-width: 960px;
   }
 }

 @media (min-width: 1200px) {
   .container.page-container {
     max-width: 1140px;
   }
 }

 @media (min-width: 1400px) {
   .container.page-container {
     max-width: 1320px;
   }
 }



 @media(max-width:1440px) {
   .btn-basic {
     font-size: 1.25rem;
     min-width: 120px;
     padding: 16px 30px;
     border-radius: 10px;
     box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
   }

   .homeTitle {
     padding: 10px 0;
   }

   .homeTitle h1 {
     font-size: 4rem;
   }

   .homeTitle h1::before,
   .homeTitle h1::after {
     width: 20px;
     height: 20px;
   }

   .homeTitle h1::before {
     left: -60px;
   }

   .homeTitle h1::after {
     right: -60px;
   }

   .homeSchool .solgan {
     font-size: 1.75rem;
     padding: 60px 0;
   }

   .homeSchool::before {
     width: 150px;
     height: 150px;
   }

   .homeElf {
     width: 320px;
     height: 320px;
   }

   .homeSchool:hover::before {
     width: 180px;
     height: 180px;
   }

   .worksList li.workItem .imgBox {
     height: 220px;
   }
 }

 @media(max-width:1199px) {
   .worksList li.workItem .imgBox {
     height: 180px;
   }
 }

 @media(max-width:991px) {
   .homeTitle h1 {
     font-size: 2.75rem;
   }

   .homeTitle h1::before,
   .homeTitle h1::after {
     width: 15px;
     height: 15px;
   }

   .homeTitle h1::before {
     left: -40px;
   }

   .homeTitle h1::after {
     right: -40px;
   }

   .homeSchool.homeNtue .homeTitle h1::before,
   .homeSchool.homeNtue .homeTitle h1::after {
     border-radius: 3px;
   }

   .homeSchool .solgan {
     font-size: 1.25rem;
     padding: 40px 0;
     width: 100%;
   }

   .btn-basic {
     font-size: 1rem;
     min-width: 80px;
     padding: 12px 24px;
   }

   .worksList li.workItem {
     width: 50%;
   }

   .worksList li.workItem .imgBox {
     height: 200px;
   }

 }

 @media(max-width:767px) {
   .show-md {
     display: none;

   }

   .hide-md {
     display: block;
   }

   .container.page-container {
     padding: 0;
     width: 100%;
   }

   .wrapper.home {
     flex-direction: column;
     height: 100vh;
   }

   .homeSchool {
     width: 100%;
     flex: 0 1 100% !important;
     overflow: hidden;
   }

   .homeSchool::before {
     width: 80px;
     height: 80px;
   }

   .homeSchool:hover::before {
     width: 100px;
     height: 100px;
   }

   .homeSchool.homeNtut::before {
     left: auto;
     right: 0;
   }

   .homeSchool.homeNtut:hover::before,
   .homeSchool.homeNtue:hover::before {
     transform: translateY(-20%) translateX(20%);
   }

   .homeSchool .homeBox {
     padding: 20px 32px 30px;
   }

   .homeTitle h1 {
     font-size: 2rem;
   }

   .homeTitle h1::before,
   .homeTitle h1::after {
     width: 10px;
     height: 10px;
   }

   .homeSchool .solgan {
     font-size: 1.25rem;
     padding: 20px 0;
   }

   .homeElf {
     width: 200px;
     height: 200px;
   }

   .homeSchool.homeNtue .homeElf {
     left: 0;
     right: auto;
     transform: translateX(-55%) translateY(55%);
   }

   .homeSchool.homeNtut:hover .homeElf,
   .homeSchool.homeNtue:hover .homeElf {
     transform: translateX(-40%) translateY(50%);
   }

   .homeElf .eye {
     width: 16px;
     height: 22px;
   }

   .homeElf .eye::before {
     content: "";
     width: 8px;
     height: 11px;
   }

   .homeSchool.homeNtue .homeElf .eye {
     right: 22%;
     left: auto;
   }

   .homeSchool.homeNtut .homeElf .eye:nth-child(2),
   .homeSchool.homeNtue .homeElf .eye:nth-child(2) {
     right: 32%;
     left: auto;
   }

   .homeSchool.homeNtue .homeElf .eye::before {
     left: auto;
     right: 0;
   }

   .container {
     padding-left: 20px;
     padding-right: 20px;
   }

   .worksListBox ul.worksList {
     padding: 0 12px;
   }

   .worksList li.workItem {
     width: 100%;
   }

   .worksList li.workItem .imgBox {
     height: 250px;
   }

   .worksList li.workItem .textBox {
     padding: 0 12px;
   }

   .workItem .skillTags {
     padding: 8px 0;
     height: 68px;
   }

   .workItem .bottomContent {
     padding: 12px;
   }

 }

 @media(max-width:480px) {
   .worksList li.workItem .imgBox {
     height: 220px;
   }
 }

 /*蓉*/
 header {
   backdrop-filter: blur(24px);
   border-bottom: 1px solid rgba(172, 210, 191, 0.2);
 }

 .container-fluid a.navbar-brand {
   color: #5F8575;

 }

 .pageBanner .topBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 20px;
 }

 .pageBanner .topBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .pageBanner nav.breadcrumb {
   background-color: #d2f5e6;
 }

 .pageBanner li.breadcrumb-item {
   color: #5F8575;
   margin-top: 50px;
 }

 .pageBanner ol.breadcrumb {
   padding-top: 10px;
   /* background-color: #d2f5e6; */

 }

 .pageBanner a {
   color: #5F8575;
 }

 /* .pageBanner {
   background-color: #d2f5e6;
 } */

 .breadcrumb2 ol.breadcrumb {
   padding-right: 100px;
   background-color: #d2f5e6;
 }

 .dropdown a.btn {
   height: 35px;
   width: 95px;
   margin-top: 50px;
   color: #5F8575;
   /* background-color: #d2f5e6; */
   font-size: 14px;
 }

/* 以下是耕締，用在pagination的樣式，1102 */
.PaginationBox{
  display: flex;
  width: 100%;
  padding: var(--G12px, 12px) var(--G80px, 80px);
  justify-content: center;
  align-items: center;
  color: #434343;
  margin: 120px 0px 0px;
}

 .customPagination .ant-pagination-item {
   font-family: Noto Sans TC;
   font-size: 14px;
   background-color: transparent;
 }

.customPagination .ant-pagination-item:hover {
  background-color: #F5F5F5;
}

/* .customPagination .ant-pagination-item-active { */
  /* background-color: #ffffff;    更改激活状态的背景颜色 */
  /* color: #1677FF;                 更改激活状态的文字颜色 */
  /* border-color: #1677FF;            更改激活状态的边框颜色 */
/* } */

.page-ntut .customPagination .ant-pagination-item-active {
  color: #805437;                 /* 更改激活状态的文字颜色 */
  border-radius: 12px;
  border: 1px solid #F2BF8C;
  background-color: #FFFAF0;
}

.page-ntue .customPagination .ant-pagination-item-active {
  color: #5F8575;                 /* 更改激活状态的文字颜色 */
  border-radius: 12px;
  border: 1px solid #ACD2BF;
  background-color: #F0FFF5;
}

@media (max-width: 1199px) {
  .PaginationBox {
    margin: 48px 0px 0px 0px;
  }
}

 /* 隱藏分頁控件在小屏幕下 */
 @media (max-width: 576px) {
   .customPagination {
     display: none;
   }
 }